@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}


body{
  overflow-x: hidden;
}


.text-outline {
  color: transparent;
  -webkit-text-stroke: 2px #333333;
}


.fade-bottom {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 10%,   
    rgba(0, 0, 0, 0.3) 50%, 
    rgba(0, 0, 0, 0) 90%   
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 10%,  
    rgba(0, 0, 0, 0.3) 50%, 
    rgba(0, 0, 0, 0) 90%
  );
}



.text-custom-gradient {
  background: linear-gradient(to right, #FF7A18, #AF002D); 
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* For outer text movement */
.circular-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  animation: rotateText 10s linear infinite; /* Adjust speed here */
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



